<md-content class="md-padding">
    <md-card>
        <md-card-content>
            <md-list>
                <div class="md-title">
                    <md-button class="md-icon-button" ng-click="streams.loadStreams()" aria-label="Refresh">
                        <i class="fa fa-refresh"></i>
                    </md-button>
                    <span>{{streams.header}}</span>
                </div>
                <md-progress-circular class="center" md-mode="indeterminate" md-diameter="100" ng-show="!streams.resolved"></md-progress-circular>
                <md-list-item ng-click="streams.watch($index)" class="md-3-line" ng-repeat="s in streams.streams">
                    <img ng-src="{{s.channel.logo}}" class="md-avatar" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{ s.channel.display_name }}</h3>
                        <h4>{{ s.channel.status }}</h4>
                        <p>{{ s.channel.game }}</p>
                        <p>{{s.video_height}}p {{s.average_fps | number : 0}}fps</p>
                    </div>
                    <md-button class="md-icon-button" aria-label="Watch">
                        <md-icon ng-show="s.channel.stream" class="fa fa-user fa-2x"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-card-content>
    </md-card>
</md-content>
