<md-content flex class="md-padding">
    <div class="text-center">
        <md-button class="md-icon-button" ng-click="channels.refresh()" aria-label="Refresh">
            <i class="fa fa-refresh"></i>
        </md-button>
        <span class="md-title">Top Channels</span>
        <p class="md-caption" ng-show="channels.count">
            {{channels.count | number}} live channels
        </p>
    </div>
    <md-progress-circular class="center" md-mode="indeterminate" md-diameter="100" ng-show="!channels.resolved"></md-progress-circular>
    <div class="cards-container">
        <md-card ng-repeat="stream in channels.streams" ng-click="channels.watch($index)" class="channel-card">
            <md-card-header>
                <md-card-avatar>
                    <img ng-src={{stream.channel.logo}} />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{stream.channel.display_name}}</span>
                    <span class="md-subhead ellipsis">{{stream.channel.game}}</span>
                </md-card-header-text>
            </md-card-header>
            <img ng-src="{{stream.preview.large}}" class="md-card-image">
            <md-card-content>
                <p class="ellipsis">{{stream.channel.status}}</p>
                <div layout="row">
                    <span>{{stream.viewers | number}} viewers</span>
                    <span flex></span>
                    <span class="md-body-1">
                        {{stream.video_height}}p
                        <small class="md-caption">{{stream.average_fps | number : 0}}fps</small>
                    </span>
                </div>
            </md-card-content>
        </md-card>
    </div>
</md-content>
